
/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');


*{
    margin: 0;
    padding: 0;

} 


.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 643px;
    background-color: hsl(212, 45%, 89%)
}

.card{
    background-color: white;
    width: 253px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.imgBox{
    margin: 0.7rem;
}

.imgBox img{
    width: 230px;
    height: 232px;
    border-radius: 1rem;
    object-fit: cover;
}

.imgBox h2{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 8px 0;
    font-weight: 700;
    
}

.imgBox p{
    margin: 8px 0;
    text-align: center;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsla(210, 6.5%, 58%, 0.92);
    
}